<footer class="footer">
<p>© {{ now.Year }} Juca Aquino</p>

<div class="footer__icon-container">
<a 
    href="mailto:info@jucaaquino.com" 
    rel="noopener noreferrer"
    target="_blank"
    class="footer__icon"
>
    <img src="/mail.svg" alt="E-Mail icon" class="footer__icon-img"/>
</a>
<a 
    href="/rss.xml" 
    rel="noopener noreferrer"
    target="_blank"
    class="footer__icon"
>
    <img src="/rss.svg" alt="RSS icon" class="footer__icon-img" />
</a>
<a 
    href="https://instagram.com/juca_aquino"
    rel="noopener noreferrer"
    target="_blank"
    class="footer__icon"
>
    <img src="/instagram.svg" alt="Instagram social icon" class="footer__icon-img" />
</a>
<a 
    href="https://github.com/jucaaquino" 
    rel="noopener noreferrer"
    target="_blank"
    class="footer__icon"
>
    <img src="/github.svg" alt="Github social icon" class="footer__icon-img" />
</a>
</div>
</footer>
