<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="512x512" href="/favicon-512x512.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<!-- TODO: webmanifest -->

<!-- adobe fonts -->
<link rel="stylesheet" href="https://use.typekit.net/caq6ocm.css" />

<!-- load fonts here -->

<!-- awful hack -->
{{ if eq .Kind "404" }}
<title>404</title>
{{ else }}
<title>{{ .Title | upper }}</title>
{{ end }}
<meta name="author" content="Juca Aquino" />
<meta 
    name="description" 
    content="
    {{- with .Page.Description -}}
    {{ . }}
    {{- else -}}
    {{ .Site.Params.description }}
    {{- end -}}"
/>

<!-- open graph goes here -->
{{ $reset := resources.Get "css/reset.css" }}
{{ $main := resources.Get "css/main.css" }}
{{ $header := resources.Get "css/header.css" }}
{{ $form := resources.Get "css/form.css" }}
{{ $justifiedGalleryCSS := resources.Get "css/justified-gallery.min.css" }}
{{ $photoswipeCSS := resources.Get "css/photoswipe.css" }}
{{ $style := slice $reset $justifiedGalleryCSS  $photoswipeCSS $main $header $form | resources.Concat "style.css" }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{{ $justifiedGallery := resources.Get "js/jquery.justified-gallery.min.js" }}
<script src="{{ $justifiedGallery.Permalink }}"></script>
{{ $photoswipe := resources.Get "js/photoswipe.esm.min.js" }}
{{ $photoswipeLightbox := resources.Get "js/photoswipe-lightbox.esm.min.js" }}


<script type="module">

$("#gallery").justifiedGallery({
    rowHeight : 200,
    lastRow : 'justify',
    margins : 10,
    border: 0,
    captions: false
});

import PhotoSwipeLightbox from '{{ $photoswipeLightbox.Permalink }}';
const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a',
  pswpModule: () => import('{{ $photoswipe.Permalink }}')
});
lightbox.init();

</script>

</head>
