<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="512x512" href="/favicon-512x512.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<!-- TODO: webmanifest -->

<!-- adobe fonts -->
<link rel="stylesheet" href="https://use.typekit.net/caq6ocm.css" />

<!-- load fonts here -->

<!-- awful hack -->
{{ if eq .Kind "404" }}
<title>404</title>
{{ else }}
<title>{{ .Title | upper }}</title>
{{ end }}
<meta name="author" content="Juca Aquino" />
<meta 
    name="description" 
    content="
    {{- with .Page.Description -}}
    {{ . }}
    {{- else -}}
    {{ .Site.Params.description }}
    {{- end -}}"
/>

<!-- open graph goes here -->

{{ $css := slice  
    (resources.Get "css/reset.css")
    (resources.Get "css/justified-gallery.min.css")
    (resources.Get "css/photoswipe.css")
    (resources.Get "css/photoswipe-dynamic-caption-plugin.css")
    (resources.Get "css/photoswipe-custom.css")
    (resources.Get "css/main.css")
    (resources.Get "css/header.css")
    (resources.Get "css/footer.css")
| resources.Concat "style.css" }}

<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<script 
    src="https://code.jquery.com/jquery-3.7.1.min.js" 
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
    crossorigin="anonymous"
></script>

{{ $justified_gallery := resources.Get "js/jquery.justified-gallery.min.js" }}
<script src="{{ $justified_gallery.Permalink }}"></script>

{{ $js := resources.Get "js/main.js" | js.Build | resources.Fingerprint }}
<script src="{{ $js.RelPermalink }}" type="module" defer></script>

</head>
