.form__input {
    border-width: 1px;
    width: 100%;
    padding: 0.5rem;
}

.form__input--textarea {
    height: 200px;
    min-height: 100px;
}

.form__info {
    display: flex;
    margin-bottom: 0.5rem;
}

button {
    text-align: right;
    color: grey;
    width: 100%
}

/* WIP */
