nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav h1 {
    font-weight: bold;
}

nav ul {
    display: flex;
    overflow-x: auto;
}

nav li:not(:last-child) {
    margin-right: 1.5rem;
}

nav a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

@media only screen and (max-width: 820px) {
    nav {
        font-size: 1rem;
        flex-direction: column;
    }

    nav h1 {
        font-size: 1.5rem;
    }

    nav ul {
    }

    nav li {
    }
}
