/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    align-items: center;
} 

body {
     font-family: gotham, sans-serif;
     width: 800px;
}

main p {
    margin-bottom: 1.5rem;

}

p a {
     color: blue;
     text-decoration: underline;
}

main h2 {
  font-size: 1rem;
  font-weight: bold;
}

.icons {
     display: flex;
}






