<footer>
    <!--{{ partial "subscribe-form.html" . }}-->

<p>© {{ now.Year }} Juca Aquino</p>

<!--<div class="icons">
<a 
    href="/rss.xml" 
    rel="noopener noreferrer"
    target="_blank"
>
    <img src="/rss.svg" alt="RSS icon">
</a>
<a 
    href="https://instagram.com/juca_aquino"
    rel="noopener noreferrer"
    target="_blank"
>
    <img src="/instagram.svg" alt="Instagram social icon">
</a>
<a 
    href="https://github.com/jucaaquino" 
    rel="noopener noreferrer"
    target="_blank"
>
    <img src="/github.svg" alt="Github social icon">
</a>
</div>-->
</footer>
