<a 
    class="gallery-item" 
    href="{{ .Get "src" }}" 
    data-pswp-src="" 
    data-pswp-width="" 
    data-pswp-height="" 
    data-pswp-target="" 
    title="" 
>

<figure>

<img 
    class="lazyload" 
    width="" 
    height="" 
    src="{{ .Get "src" }}" 
    alt="" 
/>
    <figcaption>
        {{ .Get "title" | upper }}<br>
        {{ .Get "year" }}<br>
        {{ .Get "media" }}<br>
        {{ math.Round (mul (int (.Get "width" )) 2.54) }} x
        {{ math.Round (mul (int (.Get "height")) 2.54) }} cm |
        {{ .Get "width"  }} x
        {{ .Get "height" }} in
    </figcaption>
</figure>

</a>
